<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-6 p-4">
<%= image_tag "pirulito_head.jpg", width: "8%", alt: "Movie", class: "pirulito" %>
  <a class="navbar-brand" href="#">

    <span id="banner-typed-text"></span>
    <i class="fas fa-video"></i>
  </a>
</div>
