@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
.navbar-lewagon {
  justify-content: center;
  background-color: rgb(72, 72, 72);
  margin: 2px;
}
#banner-typed-text {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas {
  color: white;
  font-size: 18px;
}
