.navbar-lewagon {
  justify-content: center;
  background: rgb(240, 229, 229);
  margin: 2px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
